/*Generali*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
main{
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 40px;
} 

/*Header*/
header div{
  padding: 10px 20px;
}

.logo{
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}

/*Main*/
.container-button{
  width: 50%;
  text-align: left;
  background-color: white;
  padding: 5px 50px;
  border-radius: 5px;
  margin: 0 auto 3px auto;
}

.container{
  width: 50%;
  margin: 0 auto;
  text-align: left;
  background-color: white;
  padding: 30px 50px;
  border-radius: 5px;
}

/*Button*/
button{
  margin-left: 0;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 11px;
}
#task{
  color: white;
  background-color: #47adf1; 
  border-color:transparent;
}
#selection{
  color: grey;
  background-color: white;
  border-color:#dce0e3;
}

/*Paragrafi*/
h3{
  font-size: 25px;
}
.simbolo{
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  margin-right: 10px;
}
.check{
  border: 1px solid #94d4c5;
  color: #94d4c5;
}
.cross{
  border: 1px solid red;
  color: red;
}

.azioni{
  border-radius: 15px;
  border-color:transparent; 
  padding: 8px 14px;
  margin-left: 5px;
  font-size: 12px;
  color: white;
}

/*colori*/
#blue{
  background-color: #45abea;
}
#violet{
  background-color: #9c72e4;
}
#green{
  background-color: #64c0a9;
}
#orange{
  background-color: #f29e33;
}
#pink{
  background-color: #d863a1;
}
#light-green{
  background-color: #b0c926;
}