/*Generali*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
main{
  line-height: 50px;
  text-align: center;
}

/*Header*/
header div{
  padding: 10px 20px;
}

.logo{
  display: inline-block;
  vertical-align: middle;
}

.scritta{
  font-size: 40px;
}

/*Main*/
.container{
  margin: 40px auto;
  width: 50%;
  text-align: left;
}
button{
  margin-left: 0;
  padding: 2px;
  border-radius: 5px; 
}
#task{
  color: white;
  background-color: #47adf1; 
  border-color:transparent;
}
#selection{
  color: grey;
  background-color: white;
  border-color:#dce0e3;
}
.simbolo{
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: middle;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  margin-right: 10px;
}
.check{
  border: 1px solid #94d4c5;
  color: #94d4c5;
}
.cross{
  border: 1px solid red;
  color: red;
}

.azioni{
  border-radius: 15px;
  border-color:transparent;
  font-size: 12px;
  padding: 8px 14px;
  color: white;
  margin-left: 5px;
}
#blue{
  background-color: #45abea;
}
#violet{
  background-color: #9c72e4;
}
#green{
  background-color: #64c0a9;
}
#orange{
  background-color: #f29e33;
}